{
    "name": "class definition",
    "trigger": "class",
    "description": "Define una clase",
    "body": [
        "class ${1:Nombre}(${2:object}):",
        "    def __init__(self, ${3:params}):",
        "        ${4:pass}"
    ],
    "scope": "python"
}