{
    "name": "function definition",
    "trigger": "def",
    "description": "Define una función con docstring",
    "body": [
        "def ${1:nombre}(${2:parametros}):",
        "    \"\"\"${3:Documentación}\"\"\"",
        "    ${4:pass}"
    ],
    "scope": "python"
}