{
    "name": "if __main__",
    "trigger": "ifmain",
    "description": "Bloque if __name__ == '__main__'",
    "body": [
        "if __name__ == \"__main__\":",
        "    ${1:main()}"
    ],
    "scope": "python"
}