{
    "name": "try/except",
    "trigger": "try",
    "description": "Bloque try/except",
    "body": [
        "try:",
        "    ${1:código}",
        "except ${2:Exception} as e:",
        "    ${3:print(e)}"
    ],
    "scope": "python"
}