{
    "name": "with statement",
    "trigger": "with",
    "description": "Bloque with (context manager)",
    "body": [
        "with ${1:open('archivo.txt')} as ${2:f}:",
        "    ${3:pass}"
    ],
    "scope": "python"
}